<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.adminSystem.mapper.ClassesInfoMapper">

    <resultMap id="BaseResultMap" type="com.caixy.adminSystem.model.entity.ClassesInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="departId" column="departId" jdbcType="BIGINT"/>
            <result property="majorId" column="majorId" jdbcType="BIGINT"/>
            <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,departId
        majorId,creatorId,createTime,
        updateTime,isDelete
    </sql>

    <select id="selectClassByMajorAndDepartId" resultType="com.caixy.adminSystem.model.vo.ClassesInfo.ClassesInfoVO">
        SELECT
            cls.id as id,
            cls.name as name,
            depart.name as departName,
            major.name as majorName,
            cls.creatorId as creatorId,
            cls.createTime as createTime,
            cls.updateTime as updateTime
        FROM
            department_info depart,
            classes_info cls,
            major_info major
        WHERE
            depart.id = #{departId} AND
            major.id = #{majorId} AND
            cls.departId = depart.id AND
            cls.majorId = major.id
    </select>

    <select id="fetchAllClassesData" resultType="com.caixy.adminSystem.model.dto.classesInfo.DepartmentMajorClassDTO">
        SELECT
            d.id AS departmentId,
            d.name AS departmentName,
            m.id AS majorId,
            m.name AS majorName,
            c.id AS classId,
            c.name AS className
        FROM
            department_info d
                LEFT JOIN
            major_info m ON d.id = m.departId AND m.isDelete = 0
                LEFT JOIN
            classes_info c ON m.id = c.majorId AND c.isDelete = 0
        WHERE
            d.isDelete = 0
        ORDER BY
            d.name, m.name, c.name;
    </select>


    <select id="selectDepartMajorClassList"
            resultType="com.caixy.adminSystem.model.vo.ClassesInfo.DepartMajorClassDTO">
        SELECT
            c.id AS classId,
            c.name AS className,
            c.majorId,
            m.name AS majorName,
            c.departId,
            d.name AS departName
        FROM
            classes_info c
        LEFT JOIN
                major_info m ON c.majorId = m.id AND m.isDelete = 0
        LEFT JOIN
                department_info d ON c.departId = d.id AND d.isDelete = 0
        WHERE
            c.id IN
            <foreach collection="classIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        AND
            c.isDelete = 0

    </select>

</mapper>
