<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.StudentInfoMapper">

    <resultMap id="BaseResultMap" type="generator.entity.StudentInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="stuId" column="stuId" jdbcType="VARCHAR"/>
            <result property="stuName" column="stuName" jdbcType="VARCHAR"/>
            <result property="stuSex" column="stuSex" jdbcType="TINYINT"/>
            <result property="stuDeptId" column="stuDeptId" jdbcType="BIGINT"/>
            <result property="stuMajorId" column="stuMajorId" jdbcType="BIGINT"/>
            <result property="stuClassId" column="stuClassId" jdbcType="BIGINT"/>
            <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stuId,stuName,
        stuSex,stuDeptId,stuMajorId,
        stuClassId,creatorId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
