<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.adminSystem.mapper.StudentGradesMapper">

    <resultMap id="BaseResultMap" type="com.caixy.adminSystem.model.entity.StudentGrades">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="stuId" column="stuId" jdbcType="BIGINT"/>
            <result property="subjectId" column="subjectId" jdbcType="BIGINT"/>
            <result property="semesterId" column="semesterId" jdbcType="BIGINT"/>
            <result property="totalGrade" column="totalGrade" jdbcType="BIGINT"/>
            <result property="usualGrade" column="usualGrade" jdbcType="INTEGER"/>
            <result property="finalGrade" column="finalGrade" jdbcType="INTEGER"/>
            <result property="usualPercentage" column="usualPercentage" jdbcType="TINYINT"/>
            <result property="finalPercentage" column="finalPercentage" jdbcType="TINYINT"/>
            <result property="courseGroupId" column="courseGroupId" jdbcType="BIGINT"/>
            <result property="isElectives" column="isElectives" jdbcType="TINYINT"/>
            <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stuId,subjectId,
        semesterId,totalGrade,usualGrade,
        finalGrade,usualPercentage,finalPercentage,
        courseGroupId,isElectives,creatorId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
