<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.adminSystem.mapper.StudentGradesMapper">

    <resultMap id="BaseResultMap" type="com.caixy.adminSystem.model.entity.StudentGrades">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="stuId" column="stuId" jdbcType="BIGINT"/>
            <result property="subjectId" column="subjectId" jdbcType="BIGINT"/>
            <result property="semesterId" column="semesterId" jdbcType="BIGINT"/>
            <result property="totalGrade" column="totalGrade" jdbcType="BIGINT"/>
            <result property="usualGrade" column="usualGrade" jdbcType="INTEGER"/>
            <result property="finalGrade" column="finalGrade" jdbcType="INTEGER"/>
            <result property="usualPercentage" column="usualPercentage" jdbcType="TINYINT"/>
            <result property="finalPercentage" column="finalPercentage" jdbcType="TINYINT"/>
            <result property="courseGroupId" column="courseGroupId" jdbcType="BIGINT"/>
            <result property="isElectives" column="isElectives" jdbcType="TINYINT"/>
            <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stuId,subjectId,
        semesterId,totalGrade,usualGrade,
        finalGrade,usualPercentage,finalPercentage,
        courseGroupId,isElectives,creatorId,
        createTime,updateTime,isDelete
    </sql>
    
    <select id="selectStudentGrades" resultType="com.caixy.adminSystem.model.vo.studentGrade.GradeForStudentVO">
        SELECT
            sg.id AS gradeId,
            sg.subjectId,
            s.name AS subjectName,
            sg.totalGrade,
            s.gradeFail
        FROM
            student_grades sg
        INNER JOIN
                subjects s ON sg.subjectId = s.id
        WHERE
            sg.stuId = #{userId}  -- 根据学生ID过滤
        AND
            sg.courseGroupId IN (
                SELECT
                    rtl.courseTaskId
                FROM
                    registration_task_lesson rtl
                WHERE
                    rtl.isPublish = 1
                AND
                    rtl.isFinished = 1
                AND
                    rtl.isDelete = 0
                )
        AND
            s.isDelete = 0  -- 确保科目没有被删除
            <if test="semesterId != null">
                AND sg.semesterId = #{semesterId}  -- 如果 semesterId 不为 null，则加上过滤条件
            </if>
    </select>
</mapper>
