<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caixy.adminSystem.mapper.TeacherInfoMapper">

    <resultMap id="BaseResultMap" type="com.caixy.adminSystem.model.entity.TeacherInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="teacherId" column="teacherId" jdbcType="VARCHAR"/>
        <result property="teacherName" column="teacherName" jdbcType="VARCHAR"/>
        <result property="teacherSex" column="teacherSex" jdbcType="TINYINT"/>
        <result property="teacherDeptId" column="teacherDeptId" jdbcType="BIGINT"/>
        <result property="teacherMajorId" column="teacherMajorId" jdbcType="BIGINT"/>
        <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacherId,teacherName,
        teacherSex,teacherDeptId,teacherMajorId,
        creatorId,createTime,updateTime,
        isDelete
    </sql>
    <sql id="teacherInfoVOColumns">
        t.id,
    t.teacherId,
    t.teacherName,
    t.teacherSex,
    -- 获取学院名称
    (SELECT d.name
     FROM department_info d
     WHERE d.id = t.teacherDeptId
       AND d.isDelete = 0) AS teacherDepart,
    -- 获取专业名称
    (SELECT m.name
     FROM major_info m
     WHERE m.id = t.teacherMajorId
       AND m.isDelete = 0) AS teacherMajor,
    t.teacherDeptId,
    t.teacherMajorId
    </sql>

    <sql id="teacherInfoVOConditions">
        <where>
            t.isDelete = 0
            <if test="query != null and query.id != null">
                AND t.id = #{query.id}
            </if>
            <if test="query != null and query.teacherId != null and query.teacherId != ''">
                AND t.teacherId = #{query.teacherId}
            </if>
            <if test="query != null and query.teacherName != null and query.teacherName != ''">
                AND t.teacherName LIKE CONCAT('%', #{query.teacherName}, '%')
            </if>
        </where>
    </sql>



    <select id="selectTeacherInfoPage"
            resultType="com.caixy.adminSystem.model.vo.teacherInfo.TeacherInfoVO"
            parameterType="java.util.Map">
        SELECT
        <include refid="teacherInfoVOColumns" />
        FROM teacher_info t
        <include refid="teacherInfoVOConditions" />
    </select>

    <select id="selectTeacherInfoByConditions" resultType="com.caixy.adminSystem.model.vo.teacherInfo.TeacherInfoVO"
            parameterType="com.caixy.adminSystem.model.vo.teacherInfo.TeacherInfoVO">
        SELECT
        <include refid="teacherInfoVOColumns" />
        FROM teacher_info t
        <include refid="teacherInfoVOConditions" />
    </select>

    <!-- 批量根据教师ID查询教师信息 -->
    <select id="selectTeacherInfoByIds"
            resultType="com.caixy.adminSystem.model.vo.teacherInfo.TeacherInfoVO"
            parameterType="java.util.Collection">
        SELECT
        <include refid="teacherInfoVOColumns" />
        FROM teacher_info t
        WHERE
        t.isDelete = 0
        AND
        t.id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>



</mapper>
